section {
    .section-header {
        font-size: 1.1em;
        margin: 1em 0 0.5em;
        text-transform: uppercase;
        font-weight: bold;

        a {
            text-decoration: none;
        }
    }
}

#top-bg {
    font-size: 0;
    line-height: 0;

    hr {
        height: 10px;
        margin: 0;
    }
}

#page {
    background-color: #111;
    color: #d7d6d2;
    padding: 20px;
    position: relative;
}

#everyone-tweet-link {
    position: absolute;
    top: -200px;
    left: 64%;
    z-index: 1;
}

#main-nav {
    position: relative;
    zoom: 1;

    ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        text-transform: uppercase;

        li {
            line-height: 1;
            display: inline-block;
            margin: 0 40px 0 0;
            position: relative;
            color: #fff;

            h1 {
                display: inline;
            }
            a {
                font-size: 3.6em;
                line-height: 1.4;
                color: #2b3d4d;
                text-decoration: none;

                &.in:hover,
                &:hover {
                    color: #eac485
                }
                &.in {
                    color: #acb178
                }
            }
        }
    }
    .projects-count {
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #da131a;
        border: 1px solid #fff;
        line-height: 1.1;
        padding: 3px;
        border-radius: 1em;
    }
    .nav-right {
        position: absolute;
        top: 0;
        right: 0;

        .share-line {
            float: right;

            div {
                float: right;
                margin-left: 20px;
            }
        }
        .language-switch {
            float: right;
            white-space: nowrap;
            border-radius: 3px;
            padding: 0 6px;
            background-color: #7a8e7a;
            line-height: 20px;
            font-size: 1.1em;
            text-decoration: none;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }
}

#socialism {
    font-size: 0.9em;

    table {
        width: 100%;

        td {
            text-align: center;
            vertical-align: bottom;
            white-space: nowrap;

            a {
                color: #798d7a;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}

#footer {
    padding-top: 20px;
    text-align: center;
    color: #6b6f4f;

    a {
        color: #375a44;
    }
}

#counters {
    position: absolute;
    top: -999px;
}

// Backgrounds.
@mixin horizontal-bg($left, $right) {
    background: $left;
    background: -moz-linear-gradient(left, $left 0%, $right 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, $left), color-stop(100%, $right));
    background: -webkit-linear-gradient(left, $left 0%, $right 100%);
    background: -o-linear-gradient(left, $left 0%, $right 100%);
    background: -ms-linear-gradient(left, $left 0%, $right 100%);
    background: linear-gradient(to right, $left 0%, $right 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$left}', endColorstr='#{$right}', GradientType=1);
}

.horizontal-bg-0 {
    @include horizontal-bg(#293149, #304a4f);
}
.horizontal-bg-1 {
    @include horizontal-bg(#798d7a, #ad9b8e);
}
.horizontal-bg-2 {
    @include horizontal-bg(#425b48, #32423e);
}
.horizontal-bg-3 {
    @include horizontal-bg(#a78e60, #666d4e);
}
.horizontal-bg-4 {
    @include horizontal-bg(#4e6b56, #354641);
}
.horizontal-bg-5 {
    @include horizontal-bg(#ad9b8e, #798d7a);
}
.horizontal-bg-6 {
    @include horizontal-bg(#304a4f, #293149);
}
.horizontal-bg-7 {
    @include horizontal-bg(#666d4e, #a78e60);
}
.horizontal-bg-8 {
    @include horizontal-bg(#32423e, #425b48);
}
.horizontal-bg-9 {
    @include horizontal-bg(#354641, #4e6b56);
}

