#index-header {
    width: 50%;
}

/*
#flickr {
    overflow: hidden;

    header {
        a {
            color: #798d7a;
            text-decoration: none;
        }
    }
}

#flickr_badge_uber_wrapper {
    width: 9999px;
    height: 145px;
    overflow: hidden;
}

.flickr_badge_image {
    float: left;
    position: relative;

    a {
        float: left;
        position: relative;
    }
}

#flickr_badge_source {
    text-align: left;
    margin: 0 10px 0 10px;
}

#flickr_badge_icon {
    float: left;
    margin-right: 5px;
}

#flickr_badge_uber_wrapper {
    a:hover,
    a:link,
    a:active,
    a:visited {
        text-decoration: none !important;
        background: inherit !important;
        color: #3993ff;
    }
}

#flickr_badge_wrapper {
    background-color: #000;
    border: solid 1px #000;
}

#flickr_badge_source {
    padding: 0 !important;
    font: 11px $helvetica !important;
    color: #000 !important;
}

.flickr_badge_title_hover {
    height: 100px;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    padding-top: 40px;
    color: #fff;
    display: none;
}
*/

#twitter {
    margin: 20px 0;

    header {
        a {
            color: #798d7a;
        }
    }
    .table {
        width: 100%;
        text-shadow: 0 0 2px #222;

        td {
            padding: 0 15px;
            white-space: pre-wrap;
            color: #fff;
            vertical-align: top;

            &.h {
                display: none;
            }
            &.v {
                display: table-cell;
            }
            p {
                margin: 15px 0;

                &.tweet-info {
                    font-size: 1.1em;
                }
            }
            a {
                color: #fff;
            }
            &.info {
                background: no-repeat 50% 10%;
                background-size: cover;
                -ms-behavior: url('../css/backgroundsize.min.htc');
                color: #fff;
                text-shadow: 0 0 2px #222;
                cursor: pointer;

                h3 {
                    text-transform: uppercase;
                    font-weight: bold;
                }
                p {
                    margin: 5px 0;
                    font-weight: bold;
                }
            }
        }
    }
}
