#projects {
    margin: 20px 0;

    header {
        a {
            text-decoration: none;
            color: #c56a60;
        }
    }
    .projects-container {
        position: relative;

        &.home {
            max-height: 600px;
            overflow: hidden;
        }

        .project {
            @include transition(all 0.1s $ease-out-quint);
            display: block;
            float: left;
            height: 150px;
            position: relative;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            -ms-behavior: url('../css/backgroundsize.min.htc');
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                background-size: 110% auto;
            }
            &.latest {
                background-size: auto 100%;
                height: 300px;

                @media all and (min-width: 1921px) {
                    width: 30%;
                }

                @media all and (max-width: 1920px) {
                    width: 40%;
                }

                @media all and (max-width: 1366px) {
                    width: 50%;
                }

                @include query(tablet) {
                    width: 66.66%;
                }

                @include query(mobile) {
                    width: 100%;
                }

                &:hover {
                    background-size: auto 105%;
                }
            }
            .title {
                position: absolute;
                bottom: 0;
                white-space: nowrap;
                display: block;
                width: 100%;
                text-shadow: 0 0 2px #222;
                background-color: rgba(0, 0, 0, 0.3);

                h3 {
                    margin: 4px 10px;
                    font-size: 1.4em;
                }
            }
            &.selected {
                .overlay {
                    height: 100%;
                    opacity: 1;
                }
            }
            .overlay {
                @include transition(all 0.2s $ease-in-out-quart);
                background-color: rgba(31, 22, 34, 0.85);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d91f1622, endColorstr=#d9550000);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9550000, endColorstr=#D91f1622)";
                position: absolute;
                width: 100%;
                height: 0;
                opacity: 0;
            }

            @media all and (min-width: 1921px) {
                width: 15%;
            }

            @media all and (max-width: 1920px) {
                width: 20%;
            }

            @media all and (max-width: 1366px) {
                width: 25%;
            }

            @include query(tablet) {
                width: 33.333%;
            }

            @include query(mobile) {
                width: 100%;
            }
        }
    }
}

#project-types {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.1em;

    li {
        line-height: 1.5em;
        display: inline-block;
        margin: 5px 10px 5px 0;

        &.title {
            text-transform: uppercase;
            display: block;
        }
        a {
            line-height: 2em;
            background-color: #271f2a;
            color: #819181;
            text-decoration: none;
            padding: 4px 10px 5px;
            border-radius: 4px;
            white-space: nowrap;
            border: 1px solid lighten(#271f2a, 10%);

            &:hover {
                background-color: #c56a60;
                color: #2b3d4d;
            }
            &.selected {
                color: #2b3d4d;
                background-color: #fff;
            }
        }
    }
}

#project {
    overflow: auto;

    header {
        h1 {
            font-size: 1.8em;
            margin: 20px 0;
        }
    }
    .left-column,
    .right-column {
        float: left;
        width: 50%;
        height: 300px;

        @include query(mobile) {
            float: none;
            width: auto;
        }
    }
    .left-column {
        background-position: 50% 50%;
        background-size: cover;
        -ms-behavior: url('../css/backgroundsize.min.htc');

        @include query(mobile) {
            @include border-top-radius(5px);
            height: 150px;
        }
    }
    .right-column {
        color: #fff;
        text-shadow: 0 1px 0 #222;

        @include query(mobile) {
            @include border-bottom-radius(5px);
            height: auto;
        }

        .wrap {
            margin: 0 20px 20px 20px;

            @include query(mobile) {
                margin: 0 10px;
                padding: 1px 0;
            }
        }
        .text {
            color: #fff;
            font-size: 1.6em;
        }
        .participant {
            a {
                color: #798d7a;

                &:hover {
                    color: #acb178
                }
            }
        }
        .link {
            color: #798d7a;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 0.7em;
            font-weight: bold;
        }
        .link-button {
            font-size: 1.6em;

            a {
                @include transition(all 0.2s);
                color: #fff;
                text-decoration: none;
                padding: 5px 10px;
                background-color: #c16861;
                border-radius: 4px;
                text-shadow: 0 0 2px #222;
                display: inline-block;

                &:hover {
                    background-color: #7a8e7a;
                }
            }
        }
        .tags {
            color: #d7d6d2;

            a {
                color: #acb178;

                &:hover {
                    color: #798d7a;
                }
            }
        }
    }
}

#previous-next-projects {
    position: relative;
    text-transform: uppercase;
    zoom: 1;

    .previous,
    .next {
        display: inline-block;

        a {
            display: inline-block;
            line-height: 3;
            color: #acb178;
            text-decoration: none;
            font-weight: bold;

            @include query(mobile) {
                text-decoration: underline;
            }
        }
        .title {
            @include transition(opacity 0.1s);
            opacity: 0;

            @include query(mobile) {
                display: none;
            }
        }
        &:hover {
            a {
                text-decoration: underline;
            }
            .title {
                opacity: 1;
            }
        }
    }
    .previous {
        position: absolute;
        right: 0;
        top: 0;
    }
}

#screenshots {
    margin: 20px 0;

    @include query(mobile) {
        overflow: hidden;
    }

    header {
        color: #d7d6d2;
    }
    .container {
        background: url('../img/screenshots-bg.png') -10% -1px #45675d;

        .screenshot {
            float: left;
            line-height: 0;
            position: relative;

            .body {
                background: url('../img/small-screenshot-body.png') repeat-y 50% 0 transparent;
                text-align: center;
            }
            .site-url {
                position: absolute;
                top: 38px;
                left: 86px;
                font-size: 8px;
                color: #333;
                text-shadow: 0 0 1px #aaa;
                line-height: 1px;
                font-family: $lucida-grande;
            }
        }
    }
}
