{% extends "base.html" %}
{% load localeurl_tags typogrify_tags i18n compress %}

{% block meta_title %}{{ project.title }}{% endblock %}

{% block all_content %}
	<section id="project">
		<h1>{{ project.title|typogrify }}</h1>
		{% comment %}{% if project.link %}
			<section>
				<a href="{{ project.link }}" id="project-link">{{ project.link }}</a>
			</section>
		{% endif %}{% endcomment %}
		<aside id="project-left-column" style="background-image: url('{{ project.image.thumbnail }}');"></aside>
		<aside id="project-right-column">
			<div>
				{% if project.text %}<p id="project-text">{{ project.text|safe|typogrify }}</p>{% endif %}

				{% if project.participation_set.count %}
					{% for i in project.participation_set.all %}
						<p class="participant">{% for r in i.role.language.all %}{% if forloop.first %}{{ r|capfirst }}{% else %}{{ r }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}: <i>{% if i.participant.link %}<a href="{{ i.participant.link }}" title="{{ i.participant }}">{% endif %}{{ i.participant }}{% if i.participant.link %}</a>{% endif %}</i></p>
					{% endfor %}
				{% endif %}

				{% if project.client %}
					<p id="project-client">{{ project.client|typogrify }}</p>
				{% endif %}
				
				<p id="project-tags">{% for i in project.project_type.language.all %}<span title="{{ i.title }}">{% if forloop.first %}{{ i.title|capfirst }}{% else %}{{ i.title }}{% endif %}</span>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>


				{% if project.is_alive and project.link %}
					<p>
						<a href="{{ project.link }}" title="{{ project.title }}" id="project-link-button">{% trans "Visit" %} {{ project.link|cut:"http://"|cut:"/" }}</a>
					</p>
				{% else %}
					{% if project.has_archive %}
						<p>
							<a href="{{ project.get_absolute_url }}archive/" title="{{ project.title }}" id="project-link-button" target="_blank">{% trans "View archived version" %}</a>
						</p>
					{% endif %}
				{% endif %}

			</div>
		</aside>
	</section>
	<section id="previous-next-projects">
		<div id="next-project">{% if next %}<a href="{{ next.get_absolute_url }}" title="{{ next.title }}">{% trans "Next project" %}</a>{% endif %}&nbsp;<span id="next-project-title">{{ next.title }}</span></div>
		{% if previous %}<div id="previous-project"><span id="previous-project-title">{{ previous.title }}</span>&nbsp;<a href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">{% trans "Previous project" %}</a></div>{% endif %}
	</section>
	{% if has_screenshots %}
		<section id="screenshots">
			<header>{% trans "Website screenshots" %}</header>
			<div id="screenshots-container" class="clearfix">
				{% with project.title as title %}
				{% for s in project.screenshot_set.all %}
					<div class="screenshot">
						{% if project.is_alive %}<span class="site-url">{{ project.link }}</span>{% endif %}
						<div class="head">
							<img src="{{ STATIC_URL }}i/small-screenshot-head.png" width="450" height="62" alt="" />
						</div>
						<div class="body">
							<img src="{{ s.image.thumbnail }}" width="{{ s.image.thumbnail.width }}" height="{{ s.image.thumbnail.height }}" alt="{% trans "Andrey Shipilov" %} - {{ title }}" />
						</div>
						<div class="footer">
							<img src="{{ STATIC_URL }}i/small-screenshot-footer.png" width="450" height="37" alt="" />
						</div>
					</div>
				{% endfor %}
				{% endwith %}
			</div>
		</section>
	{% endif %}
{% endblock %}

{% block head_appendix %}
	<link rel="image_src" href="{{ project.image.extra_thumbnails.facebook }}" />
{% endblock %}

{% block compressed_js %}
	{{ block.super }}
	{% if has_screenshots %}
		<script type="text/javascript" src="{{ STATIC_URL }}jquery.masonry.js"></script>
		<script type="text/javascript">
			$(function(){
				$('#screenshots-container').masonry({
					itemSelector: '.screenshot',
					isAnimated: true
				});
			});
		</script>
	{% endif %}
{% endblock %}