{% extends "base.html" %}
{% load typogrify_tags i18n compress static thumbnail %}


{% block all_content %}
    <section id="project">
        <header>
            <h1>{{ project.title|typogrify }}</h1>
        </header>

        <aside class="left-column" style="background-image: url('{{ project.image.url }}');"></aside>
        <aside class="right-column horizontal-bg-0">
            <div class="wrap">
                {% if project.text %}
                    <article>
                        <p class="text">{{ project.text|safe|typogrify }}</p>
                    </article>
                {% endif %}

                {% if project.participation_set.count %}
                    {% for i in project.participation_set.all %}
                        <p class="participant">{% for r in i.role.language.all %}{% if forloop.first %}{{ r|capfirst }}{% else %}{{ r }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}: <i>{% if i.participant.link %}<a href="{{ i.participant.link }}" title="{{ i.participant }}">{% endif %}{{ i.participant }}{% if i.participant.link %}</a>{% endif %}</i></p>
                    {% endfor %}
                {% endif %}

                {% if project.client %}
                    <p>{{ project.client|typogrify }}</p>
                {% endif %}

                <p class="tags">
                    {% for i in project.project_type.language.all %}
                        <a title="{{ i.title }}" href="{{ i.get_absolute_url }}">{% if forloop.first %}{{ i.title|capfirst }}{% else %}{{ i.title }}{% endif %}</a>
                        {% if not forloop.last %}
                            <span>, </span>
                        {% endif %}
                    {% endfor %}
                    <span>.</span>
                </p>

                {% if project.is_alive %}
                    {% if project.verbose_link and project.verbose_link_text %}
                        <p class="link-button">
                            <a href="{{ project.verbose_link }}" title="{{ project.title }}">{{ project.verbose_link_text }}</a>
                        </p>
                    {% elif project.link %}
                        <p class="link-button">
                            <a href="{{ project.link }}" title="{{ project.title }}">{{ project.link }}</a>
                        </p>
                    {% endif %}
                {% else %}
                    {% if project.has_archive %}
                        <p class="link-button">
                            <a href="{{ project.get_absolute_url }}archive/" title="{{ project.title }}" target="_blank">{% trans "View archived version" %}</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </aside>
    </section>

    <div id="previous-next-projects">
        <div class="next">
            {% if next %}
                <a href="{{ next.get_absolute_url }}" title="{{ next.title }}">{% trans "Next project" %}</a>
                <span class="title"> &bull; {{ next.title }}</span>
            {% else %}
                <span>&nbsp;</span>
            {% endif %}
        </div>

        {% if previous %}
            <div class="previous">
                <span class="title">{{ previous.title }} &bull; </span>
                <a href="{{ previous.get_absolute_url }}" title="{{ previous.title }}">{% trans "Previous project" %}</a>
            </div>
        {% endif %}
    </div>

    {% if has_screenshots %}
        <section id="screenshots">
            <header class="section-header">{% trans "Screenshots" %}</header>

            <div class="container clearfix">
                {% with project.title as title %}
                    {% for s in project.screenshot_set.all %}
                        <div class="screenshot">
                            {% if project.is_alive %}
                                <span class="site-url">{{ project.link }}</span>
                            {% endif %}
                            <div class="head">
                                <img src="{% static "img/small-screenshot-head.png" %}" width="450" height="62" alt="" />
                            </div>
                            <div class="body">
                                {% thumbnail s.image "412x9999" as img %}
                                    <img src="{{ img.url }}" srcset="{{ img.url|resolution:"1.5x"}} 1.5x, {{ img.url|resolution:"2x"}} 2x" width="{{ img.width }}" height="{{ img.height }}" alt="{{ title }}" />
                                {% endthumbnail %}
                            </div>
                            <div class="footer">
                                <img src="{% static "img/small-screenshot-footer.png" %}" width="450" height="37" alt="" />
                            </div>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
        </section>
    {% endif %}
{% endblock %}
