{% extends "base.html" %}
{% load localeurl_tags i18n compress static thumbnail %}


{% block all_content %}
    <ul id="project-types">
        <li class="title">{% trans "Filter" %}</li>
        {% for item in project_types %}
            <li>
                <a href="{{ item.get_absolute_url }}" rel="{{ item.slug }}" title="{{ item|capfirst }}">{{ item|capfirst }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="projects">
        {% include "projects-include.html" %}
    </div>
{% endblock %}
