{% load i18n cache my_tags compress static %}{% spaceless %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <meta name="google-site-verification" content="RBS4_d_XjKiL6X9y4NO7joVLKucVxfPXfjmcJ3E43_A">
        <meta name="yandex-verification" content="4fdc36451ff1cd86">

        {% include "meta.html" %}

        {% if is_home %}
            <title>{% trans "Andrey Shipilov" %} / {% trans "Index Subtitle" %}</title>
        {% else %}
            <title>{{ subtitle }} / {% trans "Andrey Shipilov" %}</title>
        {% endif %}

        <link rel="canonical" href="https://{{ request.META.HTTP_HOST|urlencode }}{{ request.path|urlencode }}" />

        {% compress css %}
            <link rel="stylesheet" type="text/css" media="all" href="{% static "css/normalize.css" %}" />
            <link rel="stylesheet" type="text/x-scss" media="all" href="{% static "scss/andreyshipilov.scss" %}" />
        {% endcompress %}

        {% block head_appendix %}{% endblock %}

        <!--[if IE]>
            <script type="text/javascript" src="{% static "js/html5shiv.min.js" %}"></script>
        <![endif]-->
    </head>
    <body>
        <div id="top-bg">
            <hr />
        </div>

        <div id="page">
            <nav id="main-nav">
                <ul lang="{{ LANGUAGE_CODE }}">
                    <li class="first">
                        {% if is_home %}
                            <h1>{% trans "Andrey Shipilov" %}</h1>
                        {% else %}
                            <a href="{% url "home" %}">{% trans "Andrey Shipilov" %}</a>
                        {% endif %}
                    </li>

                    {% url "projects" as projects_url %}

                    <li>
                        {% ifequal request.path projects_url %}
                            <h1>{% trans "Projects" %}</h1>
                        {% else %}
                            <a href="{{ projects_url }}"{% if request.path|contains:projects_url %} class="in"{% endif %}>{% trans "Projects" %}</a>
                        {% endifequal %}

                        {% if projects_count %}
                            <span class="projects-count">{{ projects_count }}</span>
                        {% endif %}
                    </li>

                    {% url "cv" as cv_url %}

                    <li>
                        {% if LANGUAGE_CODE != "ru" %}
                            {% if request.path == cv_url %}
                                <h1>CV</h1>
                            {% else %}
                                <a href="{{ cv_url }}">CV</a>
                            {% endif %}
                        {% endif %}
                    </li>
{#                    <li style="display: none;">#}
{#                        <a href="#contact" id="contact-link">{% trans "Contact me" %}</a>#}
{#                    </li>#}
                </ul>

                <aside class="nav-right">
                    <nav class="language-switch">
                        {% for lang in LANGUAGES %}
                            {% ifnotequal lang.0 LANGUAGE_CODE %}
                                <a href="{{ request.path }}">{% trans "Switch language" %}</a>
                            {% endifnotequal %}
                        {% endfor %}
                    </nav>
                </aside>
            </nav>

            {% block all_content %}
            {% endblock %}

            <div id="socialism">
                <hr />
                <table>
                    <tr>
                        {% for item in SOCIALS %}
                            <td>
                                <a href="{{ item.link }}" title="{% trans "Andrey Shipilov" %} / {{ item.title }}" rel="nofollow">
                                    <img src="{{ item.image.url }}" width="{{ item.image.width }}" height="{{ item.image.height }}" alt="{% trans "Andrey Shipilov" %} / {{ item.title }}"><br />
                                    <span>{{ item.title }}</span>
                                </a>
                            </td>
                            {% if not forloop.last %}
                                <td style="width: {{ SOCIALS_SPACER_PERCENTAGE }}%;">&nbsp;</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>

        <div id="footer">
            <p lang="{{ LANGUAGE_CODE }}">&copy; {% trans "Andrey Shipilov" %}, 1984&mdash;{% now "Y" %}.<br /><a href="mailto:a@andreyshipilov.com">a@andreyshipilov.com</a></p>
            <p lang="en">I do really appologize for the leaders of Russia &mdash; balless, soulless, spiritless corporate little bitches, suckers of Satan's cock, each and every one of them.</p>
        </div>

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

        {% compress js %}
            {% block compressed_js %}
                <script type="text/javascript" src="{% static "js/jquery.masonry.js" %}"></script>
                <script type="text/javascript" src="{% static "js/konami.js" %}"></script>
                <script type="text/javascript" src="{% static "js/jquery.base.js" %}"></script>
                <script type="text/javascript">
                    var konami,
                        buoop = {};

                    buoop.ol = window.onload;
                    window.onload = function () {
                        try {
                            if (buoop.ol) buoop.ol();
                        } catch (e) {}

                        var e = document.createElement("script");

                        e.setAttribute("type", "text/javascript");
                        e.setAttribute("src", "https://browser-update.org/update.js");
                        document.body.appendChild(e);
                    };

                    konami = new Konami(function(){
                        var s = document.createElement("script");

                        s.setAttribute("src", "http://kathack.com/js/kh.js");
                        document.body.appendChild(s);
                    });

                    // Liveinternet
                    $(function(){
                        $('#counters').append("<img src='//counter.yadro.ru/hit?t41.6;r" + escape(document.referrer) + ((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth)) + ";u" + escape(document.URL) +";h"+escape(document.title.substring(0,80)) +  ";" + Math.random() + "' border=0 width=31 height=31 alt='' title='LiveInternet'>");
                    });
                </script>
            {% endblock %}
        {% endcompress %}

        <div id="counters">
            <script>(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter31556573 = new Ya.Metrika({ id:31556573, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
            <noscript>
                <img src="https://mc.yandex.ru/watch/31556573" alt="" />
            </noscript>
        </div>

        {% if not debug %}
            <script type="text/javascript">(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-791865-20', 'auto');ga('send', 'pageview');</script>
        {% endif %}
    </body>
</html>
{% endspaceless %}
