{% extends "base.html" %}
{% load i18n typogrify_tags compress static thumbnail %}


{% block all_content %}
    <h2 id="index-header">{{ AGE }} {% trans "Some text about me"|typogrify %}</h2>
    <section id="projects" class="clearfix">
        <header class="section-header">
            <a href="{% url "projects" %}">{% trans "Projects" %}</a>
        </header>

        {% include "projects-include.html" %}
    </section>

    <section id="flickr" class="clearfix">
        <header class="section-header">
            <a href="http://www.flickr.com/photos/andrey_shipilov/">Flickr</a>
        </header>
        <div id="flickr_badge_uber_wrapper">
            <div id="flickr_badge_wrapper">
                <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;display=random&amp;size=m&amp;layout=x&amp;source=user&amp;user=29866824%40N07"></script>
            </div>
        </div>
    </section>

    {% if tweets %}
        <section id="twitter" class="clearfix">
            <header class="section-header">
                <a href="http://www.twitter.com/{{ twitter_info.screen_name }}">Twitter</a>
            </header>
            <div id="tweets">
                <table id="tweets-table">
                    <tr>
                        {% for tweet in tweets %}
                            <td class="h bg-300-{% cycle "0" "1" "2" "3" "4" %}">
                                <p>{{ tweet.text|urlize|typogrify }}</p>
                                <p class="tweet-info">
                                    <a href="http://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" rel="nofollow">{{ tweet.created_at }}</a>
                                    {% if tweet.source %}
                                        <span> via {{ tweet.source|safe|striptags }}</span>
                                    {% endif %}
                                    {% if tweet.in_reply_to_status_id %}
                                        <span> @<a href="http://www.twitter.com/{{ tweet.in_reply_to_screen_name }}/status/{{ tweet.in_reply_to_status_id }}" rel="nofollow">{{ tweet.in_reply_to_screen_name }}</a></span>
                                    {% endif %}
                                </p>
                            </td>
                        {% endfor %}
                        <td id="twitter-info" class="v">
                            <section>
                                <header>
                                    <h3>{% trans "Follow me on Twitter" %}</h3>
                                </header>
                                <p>{% trans "I tweet rarely" %}: {{ twitter_info.statuses_count }} {% trans "tweet" %}, {{ twitter_info.followers_count }} {% trans "follower" %} and {{ twitter_info.friends_count }} {% trans "friend" %}.</p>
                            </section>
                            <script type="text/javascript">$('#twitter-info').click(function(){$('#twitter').slideUp(2000); window.location.href = 'http://www.twitter.com/{{ twitter_info.screen_name }}';});</script>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    {% endif %}
{% endblock %}


{% block head_appendix %}
    {% with projects|first as first %}
        <link rel="image_src" href="{{ first.image.url }}" />
    {% endwith %}
{% endblock %}
