{% extends "base.html" %}
{% load i18n typogrify_tags compress %}

{% block all_content %}
	<h4>28 {% trans "Some text about me" %}</h4>
	<section id="projects" class="clearfix">
		<header><a href="{% url me.views.projects %}">{% trans "Projects" %}</a></header>
		<section id="projects-container">
			{% for p in projects %}
				<a{% if forloop.first %} id="latest-project"{% endif %} class="project" href="{{ p.get_absolute_url }}" style="background-image: url('{% if forloop.first %}{{ p.image.thumbnail }}{% else %}{{ p.image.extra_thumbnails.small }}{% endif %}');" title="{{ p }}">
					
					{% comment %}
					/// Wait untill hvad.manager.annotate is implemented
					
					{% if p.num_screenshots %}
						<div class="screenshot-count bg-300-{% cycle "0" "1" "2" "3" "4" %}">{{ p.get_screenshot_count_string }}</div>
					{% endif %}
					
					{% endcomment %}

					<div class="title bg-{% if forloop.first %}600{% else %}300{% endif %}-{% cycle "0" "1" "2" "3" "4" %}">
						<span>{{ p.explict_title }}</span>
					</div>
				</a>
			{% endfor %}
		</section>
	</section>

	<section id="flickr" class="clearfix">
		<header><a href="http://www.flickr.com/photos/andrey_shipilov/">Flickr</a></header>
		<div id="flickr_badge_uber_wrapper">
			<div id="flickr_badge_wrapper">
				<script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=10&amp;display=random&amp;size=m&amp;layout=x&amp;source=user&amp;user=29866824%40N07"></script>
			</div>
		</div>
	</section>

	{% if tweets %}
	<section id="twitter" class="clearfix">
		<header><a href="http://www.twitter.com/{{ twitter_info.screen_name }}">Twitter</a></header>
		<section id="tweets">
			<table id="tweets-table">
				<tr>
					{% for tweet in tweets %}
						<td class="h bg-300-{% cycle "0" "1" "2" "3" "4" %}">
							<p>{{ tweet.text|urlize|typogrify }}</p>
							<p class="tweet-info">
								<a href="http://www.twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}">{{ tweet.created_at|date:"d b Y H:i" }}</a>
								{% if tweet.source %}
									<span> via {{ tweet.source|safe|striptags }}</span>
								{% endif %}
								{% if tweet.in_reply_to_status_id %}
									<span> @<a href="http://www.twitter.com/{{ tweet.in_reply_to_screen_name }}/status/{{ tweet.in_reply_to_status_id }}">{{ tweet.in_reply_to_screen_name }}</a>
								{% endif %}
							</p>
						</td>
					{% endfor %}
					<td id="twitter-info" class="v">
						<section>
							<header>
								<h3>{% trans "Follow me on Twitter" %}</h3>
							</header>
							<p>{% trans "I tweet rarely" %}: {{ twitter_info.statuses_count }} {% trans "tweets" %}, {{ twitter_info.followers_count }} {% trans "followers" %} and {{ twitter_info.friends_count }} {% trans "friends" %}.</p>
						</section>
						<script type="text/javascript">$('#twitter-info').click(function(){$('#twitter').slideUp(2000); window.location.href = 'http://www.twitter.com/{{ twitter_info.screen_name }}';});</script>
					</td>
				</tr>
			</table>
		</section>
	</section>
	{% endif %}
{% endblock %}

{% block head_appendix %}
	<meta name='yandex-verification' content='5246c0027cc097dd' />
	<meta name="description" content="{% trans "Andrey Shipilov" %}. 28 {% trans "Some text about me" %}" />
	{% with projects|first as first %}
		<link rel="image_src" href="{{ first.image.extra_thumbnails.facebook }}" />
	{% endwith %}
{% endblock %}

{% block compressed_js %}
	{{ block.super }}
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.index.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquery.projects.js"></script>
{% endblock %}
